@use "./lib/index" as *;

* {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

h1 {
  font-size: $xlarge - 0.3rem;
}

h2,
h3,
h4,
h5 {
  font-size: $medium - 0.5rem;
}

p {
  font-size: $medium - 0.4rem;
}

a {
  font-size: $medium - 0.4rem;

  &:hover {
    font-weight: 450;
  }
}

input,
label,
::placeholder,
button,
textarea {
  font-size: $medium - 0.4rem;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: $large - 0.23rem;
  }
}